You are given a rental contract. 

Answer the following questions about this contract.

1. Name of Renters
2. Name of Letting Agency
3. Property Address
4. Agreement Date
5. Deposit amount with currency
6. Monthly rent amount with currency
